<nav class="red lighten-2" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">RestToDo</a>
    <ul class="right">
      <li><a href="#">What Can This App Do</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">What Can This App Do</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>