<%- partial ('partials/_navbar.ejs') %>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center red-text text-lighten-2">Rest To Do App</h1>
    <div class="row center">
      <h5 class="header col s12 light grey-text text-darken-3">A sample app that utilizes Sails, Angular, Grunt and Materialize</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-2"><i class="mdi-image-flash-on"></i></h2>
          <h5 class="center">Sails v0.11</h5>

          <p class="light">Sails makes it easy to build custom, enterprise-grade Node.js apps. It is designed to emulate the familiar MVC pattern of frameworks like Ruby on Rails, but with support for the requirements of modern apps: data-driven APIs with a scalable, service-oriented architecture. It's especially good for building chat, realtime dashboards, or multiplayer games; but you can use it for any web application project - top to bottom.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-2"><i class="mdi-social-group"></i></h2>
          <h5 class="center">Materialize v0.95</h5>

          <p class="light">A modern responsive front-end framework based on Google's Material Design.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-2"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Angular v1.3</h5>

          <p class="light">An open-source web application framework maintained by Google and a community of individual developers and corporations to address many of the challenges encountered in developing single-page applications. Its goal is to simplify both development and testing of such applications by providing a framework for client-side model–view–controller (MVC) architecture, along with components commonly used in rich internet applications.</p>
        </div>
      </div>
		</div>

		<div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-2"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Grunt v0.4.5</h5>

          <p class="light">Grunt is a task-based command line build tool for JavaScript projects. A JavaScript task runner some repetitive tasks you need to do: checking for syntax errors, running tests, concatenating and minifying scripts, updating reference, and many more.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-2"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Added</h5>

          <p class="light">Added support for SASS, Bower and Fonts.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-2"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Removed</h5>

          <p class="light">Removed support for Jade and LESS.</p>
        </div>
      </div>
    </div>

		<div class="row">
			<div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-2"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Rest</h5>

          <p class="light">A small app to demonstrate Sails RESTful API, built with jQuery.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-2"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Todo</h5>

          <p class="light">A small app to demonstrate Angular + Sails RESTful API, built with Angular.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-2"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Login</h5>

          <p class="light">A passport implementation, both local and OAuth for Sails, built with Angular.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- partial ('partials/_footer.ejs') %>
